<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        
        
        <!-- Our CSS stylesheet file -->
        <link rel="stylesheet" href="assets/css/styles.css" />
        
        <!--[if lt IE 9]>
          <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    </head>
    
    <body>
        
        <nav id="filter">
            <a href="index.html" class="">Back to Everything</a>
            <a href="#" class="active">I am moxi, mua~~~</a>
        </nav>

        <div align="center">
            <div>
                <p>
                好久之前答应很多人要把 imoxi.me 做好</br>
                却一直没有想好该怎么去做</br>
                然而时间却过得很快</br>
                我的各种欲求也在增多</br>
                什么都想做好，可是力气却很小</br>
                然而，我仍是做着各种梦</br>
                仍是想起一出是一出，常常有突如起来的激动</br>
                我想把所有的心血来潮都记下</br>
                然后，慢慢的去实现</br>
                不需要太多的试错，开始前总需要想的更加的透彻</br>
                日子还有很长，慢慢来，总会好的</br>
                </br>
                </br>
                </p>
            </div>

            <div><img src="assets/img/shots/27.jpg">
            </div>
        </div>

        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
        <script src="assets/js/jquery.quicksand.js"></script>
        <script src="assets/js/script.js"></script>
        <div id="footer">
            <div>
                All rights reserved. Designed by <a href="applestone0109@gmail.com" target="_blank">moxi</a>
            </div>
        </div>
    </body>
</html>


