{% extends "blog/layout.html" %}
{% block mybody %}
  <form action="/add_entry/" method="POST" class=add-entry>
    {% csrf_token %}
    <fieldset>
      <label>Title</label>
      <input type=text placeholder="Type title here" size=30 name=title>
      <label>Text</label>
      <textarea name="body_text" rows=5 cols=40></textarea>
      <input type=submit value=Share>
    </fieldset>
  </form>
  <ul class="entries">
  {% for entry in entries.object_list %}
  <li><strong><a class="entry_link" target="_blank" href="/entry/{{entry.id}}">{{entry.title}}</a></strong>
    <p class="text-success">{{entry.body_text}}</p>
  {% endfor %}
  </ul>
  <div class="pagination">
      <span class="step-links">
          {% if entries.has_previous %}
              <a href="?page={{ entries.previous_page_number }}">previous</a>
          {% endif %}
            
          <span class="current">
              Page {{ entries.number }} of {{ entries.paginator.num_pages }}.
          </span>

          {% if entries.has_next %}
              <a href="?page={{ entries.next_page_number }}">next</a>
          {% endif %}
      </span>
  </div>
{% endblock %}
