<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>关于 imoxi </title>
        <link rel="stylesheet" href="/static/wish/css/styles.css" />
        
    </head>
    
    <body>
        
        <nav id="filter">
            <a href="/" class="">Back to Everything</a>
            <a href="#" class="active"> 爱莫兮，爱梦想 </a>
        </nav>

        <div align="center">
            <div>
            	<h2>爱莫兮，爱梦想</h2>
            	</br>
                <p>
                好久之前答应很多人要把 imoxi.me 做好</br>
                却一直没有想好该怎么去做</br>
                然而时间却过得很快</br>
                我的各种欲求也在增多</br>
                什么都想做好，可是力气却很小</br>
                然而，我仍是做着各种梦</br>
                仍是想起一出是一出，常常有突如起来的激动</br>
                我想把所有的心血来潮都记下</br>
                然后，慢慢的去实现</br>
                后来做着做着，我决定还是把这里变成一个梦想的平台</br>
                让每一个来这里的人，都变成梦想家</br>
                然后我们相互激励，实现梦想和心愿</br>
                于是我终于鼓起勇气将 imoxi 上线了 </br>
                功能还在不断的完善中 </br>
                不过已经能够从这里 <a href="/register/" > 注册 </a>
                <a href="/accounts/login/" > 登陆 </a>
                <a href="/show_wishes/" > 写下梦想 </a></br>
                我还有好多功能要实现，大家一定要等我哦 </br>
                技术太差，没办法，实现跟不上想法 </br>
                但是，我还没有放弃努力哦！</br>
                </br>
                </br>
                </p>
            </div>

            <div><img src="/media/photos/F2AC2E51-B2EA-417A-BCE0-DCF64D7229D8.png">
            </div>
        </div>

        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
        <script src="assets/js/jquery.quicksand.js"></script>
        <script src="assets/js/script.js"></script>
        <div id="footer">
            <div>
                All rights reserved. Designed by <a href="applestone0109@gmail.com" target="_blank">moxi</a>
            </div>
        </div>
    </body>
</html>


