{% extends "blog/wish_layout.html" %}
{% block mytitle %}
	{% if not user.is_authenticated %}
        <title>imoxi 爱梦想</title>
    {% else %}
        <title>我的心愿</title>
    {% endif %}

    
{% endblock %}
{% block mybody %}
    <nav id="filter"></nav>
    <section id="container">
        <ul id="stage">
        	{% if not entries %}
            	{% for entry in entries %}
                	<li data-tags="{{entry.status}}"><a href="/wish/{{entry.id}}" title="{{entry.title}}"><img src='{{ entry.image.url }}' alt="Illustration" /></a></li>
            	{% endfor %}
            {% endif %}
        </ul>
    </section>
{% endblock %}

