{% extends "blog/layout.html" %}
{% block mybody %}

  <div>哈哈，准备写一个神马心愿呐?</br>
    要认真填写期望完成日期哈</br>
    心愿也好，梦想也好，都要有计划去实现</br>
    你若丢着心愿在这里不管，我会来打屁屁的呢！</br>
    不想被别人看的心愿 Privacy 就选 Yes！</br>
    </br>
  </div>
  <form action="/add_entry/" method="POST" enctype="multipart/form-data">
    {% csrf_token %} 
            
      {{ form.as_p }}

      <input type="submit" value="submit">
  </form>

  <ul class="entries">
  {% for entry in entries.object_list %}
  <li><strong><a class="entry_link" target="_blank" href="/wish/{{entry.id}}">{{entry.title}}</a></strong>
    <p class="text-success">{{entry.body_text}}</p>
    <p ><a href="/user/{{entry.author.user.id}}">{{entry.author.user.username}}</a>   {{entry.publish_time}}</p></br>
  {% endfor %}
  </ul>
  <div class="pagination">
      <span class="step-links">
          {% if entries.has_previous %}
              <a href="?page={{ entries.previous_page_number }}">previous</a>
          {% endif %}
            
          <span class="current">
              Page {{ entries.number }} of {{ entries.paginator.num_pages }}.
          </span>

          {% if entries.has_next %}
              <a href="?page={{ entries.next_page_number }}">next</a>
          {% endif %}
      </span>
  </div>
{% endblock %}
