{% extends "blog/layout.html" %}
{% block mybody %}

  <div>哈哈，准备写一个神马心愿呐，现在网站还很不好用，记得一定要传图呐</br>
    最好用QQ截图，而且要截成 630 * 460 px 这样的比例才比较好看</br>
    好麻烦，我会改的，先忍忍吧^.^</br>
    </br>
  </div>
  <form action="/add_entry/" method="POST" enctype="multipart/form-data">
    {% csrf_token %} 
            
      {{ form.as_p }}

      <input type="submit" value="submit">
  </form>

  <ul class="entries">
  {% for entry in entries.object_list %}
  <li><strong><a class="entry_link" target="_blank" href="/wish/{{entry.id}}">{{entry.title}}</a></strong>
    <p class="text-success">{{entry.body_text}}</p>
  {% endfor %}
  </ul>
  <div class="pagination">
      <span class="step-links">
          {% if entries.has_previous %}
              <a href="?page={{ entries.previous_page_number }}">previous</a>
          {% endif %}
            
          <span class="current">
              Page {{ entries.number }} of {{ entries.paginator.num_pages }}.
          </span>

          {% if entries.has_next %}
              <a href="?page={{ entries.next_page_number }}">next</a>
          {% endif %}
      </span>
  </div>
{% endblock %}
