{% extends "blog/wish_layout.html" %}
{% block mytitle %}
    <title>{{entry.title}} - 心愿</title>
{% endblock %}
{% block mybody %}
    <section id="wish_content">
    	<nav id="filter">
            <a href="/" class="">Back to Everything</a>
            <a href="#" class="active">{{entry.title}}</a>
        </nav>

        <div class="wish_title_image">
            <img src='{{ entry.image.url }}'>        
        </div>

        <div>
        	<h2>
        		{{ entry.body_text }}
        	</h2>
        </div>
        <div>
          <span>{{ entry.author.user.username }}   {{ entry.status }}   {{ entry.publish_time }}   {{ entry.privacy }} {{ entry.expected_date }}</span>
        </div>
        <div>
        	<span><a href="/entry/{{entry.id}}/edit">编辑</a>    <a href="/entry/{{entry.id}}/delete">删除</a></span>
        </div>
    </section>
{% endblock %}

