{% extends "blog/wish_layout.html" %}
{% block mytitle %}
    <title>{{wish.title}} - 心愿</title>
{% endblock %}
{% block mybody %}
    <section id="wish_content">
    	<nav id="filter">
            <a href="/" class="">Back to Everything</a>
            <a href="#" class="active">{{wish.title}}</a>
        </nav>

        <div class="wish_title_image">
            <img src='{{ wish.image.url }}'>        
        </div>

        <div>
        	<h2>
        		{{ wish.body_text }}
        	</h2>
        </div>
        <div>
          <span>{{ wish.author.user.username }}   {{ wish.status }}   {{ wish.publish_time }}  {{ wish.expected_date }}</span>
        </div>
        {% if wish.author.user.username == login_user %}
          <div>
          	<span><a href="/wish/{{wish.id}}/edit/">编辑</a>    <a href="/wish/{{wish.id}}/delete/">删除</a></span>
          </div>

        {% endif %}
    </section>
{% endblock %}

